.home{
    background: rgba(255,253,253,.9);
    position: relative;
    height:100vh;
}
.img1Container{
    position: absolute;
    top:-8rem;
    width:500px;
    left:-15rem;
    animation: img1 1.5s ease-in-out;
}
.img2Container{
    position: absolute;
    top:-11rem;
    width:600px;
    right:8rem;
    animation: img2 1.5s ease-in-out;
}
.img3Container{
    position: absolute;
    bottom:-18rem;
    left:-10rem;
    width:650px;
    animation: img3 1.5s ease-in-out;
}
.titleContainer{
    position: absolute;
    width:500px;
    height:400px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index:1000;
}
.startLearningBtn{
    margin-top:50px;
    padding:12px 25px;
    font-size: 18px;
    letter-spacing: .07cm;
    font-weight: 600;
    background-image:linear-gradient(to right,#6927ff,#8149ff);
    color:ghostwhite;
    outline: none;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    border:none;
    animation:startLearningBtnAnimation .8s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.startLearningBtn:hover{
    background-image:linear-gradient(to left,#6927ff,#8149ff);
}
.txt1{
    transition: opacity .4s;
}
.txt2{
    position: absolute;
    height:100%;
    width:100%;
    left:0;
    transform: translateY(-110%);
    color: white;
    transition: transform .3s;
}
.startLearningBtn:hover .txt1{
    opacity: 0;
}
.startLearningBtn:hover .txt2{
    transform: translateY(0);
}
.title{
    font-size:5.5rem;
    animation:titleAnimation 1.5s ease-in-out;
}
.subTitle{
    font-size: 1.5rem;
    animation:subtitleAnimation 1.5s ease-in-out;
}
@keyframes img1{
    0%{
        transform: translate(-100%,-50%);
    }
    50%{
        transform: translate(-50%,-30%);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes img2{
    0%{
        transform: translate(100%);
    }
    50%{
        transform: translate(50%,-30%);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes img3{
    0%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes titleAnimation{
    0%{
      opacity: 0;
      transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes subtitleAnimation{
    0%{
      opacity: 0;
      transform: translateX(10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes startLearningBtnAnimation{
    0%{
      opacity: 0;
      transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@media only screen and (max-width: 1300px) {
    .img2Container{
        width:500px;
        top:-9rem;
        right:8rem;
    }
    .img3Container{
        bottom:-8rem;
        left:-10rem;
        width:550px;
     
    }
 }
 @media only screen and (max-width: 1150px) {
    .title{
        font-size:4.5rem;
    }
    .subTitle{
        font-size: 1.2rem;
    }
    .startLearningBtn{
        font-size: 15px;
    }
    .img2Container{
        right:2rem;
    }
    .img1Container{
        left:-18rem;
    }

 }
 @media only screen and (max-width:799px) {
    .img2Container{
        width:400px;
        top:-7rem;
    }
    .img3Container{
        bottom:-15rem;
        left:-12rem;
        width:500px;
    }
 }
 @media only screen and (max-width:650px) {
    .title{
        font-size:4rem;
    }
    .startLearningBtn{
        padding:12px 20px;
        font-size: 12px;
    }

 }