.home{
    height:85vh;
    background: rgb(249, 249, 249);
    position: relative;
}
.img1Container{
    position: absolute;
    top:-13rem;
    width:650px;
    left:-18rem;
}
.img2Container{
    position: absolute;
    top:-13rem;
    width:650px;
    right:10rem;
}